#cadastro-form{


}

.cadastro-badge {
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 35px;
        color: white;
        background-color: #faa8aa;
        margin-top: 20px;

}

#geral-cadastro{
    display: flex;
    justify-content: center;
    -webkit-user-modify: read-write-plaintext-only;
}

/* ----------------------------------------------- */


#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    text-align: right;
}

#geral-login{
    display: flex;
    justify-content: center;
    -webkit-user-modify: read-write-plaintext-only;
}